<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>サンプル ejs</title>
</head>
<body>

<h1><%= title %></h1>

<%- content %>

<p>ランダム生成された値は <%= randomNumber %> です。</p>

</body>
</html>
